Source: conreality
Priority: extra
Maintainer: Arto Bendiken <arto@bendiken.net>
Uploaders: Mike Gogulski <mike@gogulski.com>
Build-Depends:
 debhelper (>= 9),
 dh-ocaml (>= 0.9.0),
 autotools-dev,
 ocaml-nox (>= 4.01.0) | ocaml-best-compilers,
 g++ (>= 4.9) | c++-compiler,
 ocaml-lua-dev (>= 1.2),
 liblua5.1-0-dev,
 libopencv-core-dev,
Standards-Version: 3.9.6
Section: games
Homepage: https://conreality.org
Vcs-Git: https://github.com/conreality/conreality.git
Vcs-Browser: https://github.com/conreality/conreality

Package: conreality
Section: electronics
Architecture: any
Depends:
 liblua5.1-0,
 libopencv-core2.4,
 ${shlibs:Depends},
 ${misc:Depends}
Suggests:
 conreality-doc (= ${binary:Version}),
Description: Augmented-reality wargame
 Program binaries for the Conreality wargame.

Package: conreality-dev
Section: devel
Architecture: any
Depends:
 conreality (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends}
Enhances:
 conreality (= ${binary:Version}),
Description: Augmented-reality wargame (development)
 Developer resources for the Conreality wargame.

Package: conreality-doc
Section: doc
Architecture: all
Depends:
 ${misc:Depends}
Suggests:
 conreality
Enhances:
 conreality (= ${binary:Version}),
Description: Augmented-reality wargame (documentation)
 Documentation for the Conreality wargame.
