Source: conreality
Priority: extra
Maintainer: Arto Bendiken <arto@bendiken.net>
Uploaders: Mike Gogulski <mike@gogulski.com>
Build-Depends: debhelper (>= 9),
  autotools-dev,
  ocaml-nox (>= 4.01.0) | ocaml-best-compilers,
  g++ (>= 4.9) | c++-compiler
Standards-Version: 3.9.6
Section: games
Homepage: https://conreality.org
Vcs-Git: https://github.com/conreality/conreality.git
Vcs-Browser: https://github.com/conreality/conreality

Package: conreality
Section: games
Architecture: any
Depends: ${misc:Depends},
 libconreality0 (= ${binary:Version})
Description: TODO: up to 60 chars description
 long description, indented with spaces

Package: libconreality-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
 libconreality0 (= ${binary:Version}),
 liblua5.1-0-dev,
 libopencv-core-dev
Description: TODO: up to 60 chars description
 long description, indented with spaces

Package: libconreality0
Section: libs
Architecture: any
Depends: ${misc:Depends},
 liblua5.1-0,
 libopencv-core2.4
Description: TODO: up to 60 chars description
 long description, indented with spaces
