.DS_Store
META
README.html
debian
tmp
*~
bisect[0-9]*.out
.*.s[a-w][a-z]

# GNU Autotools
etc/aclocal/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
libtool
stamp-h1

# C/C++
*.a
*.o
