[submodule "lib/alcotest"]
	path = lib/alcotest
	url = https://github.com/mirage/alcotest.git
[submodule "lib/cmdliner"]
	path = lib/cmdliner
	url = https://github.com/dbuenzli/cmdliner.git
[submodule "lib/ctypes"]
	path = lib/ctypes
	url = https://github.com/ocamllabs/ocaml-ctypes.git
