.DS_Store
README.html
debian
tmp
*~
bisect[0-9]*.out
.*.s[a-w][a-z]

# GNU Autotools
etc/aclocal/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
libtool
stamp-h1

# C/C++
*.a
*.o

# make dist
conreality-*.tar.*

# The directory Mix will write compiled artifacts to.
/_build

# If you run "mix test --cover", coverage assets end up here.
/cover

# The directory Mix downloads your dependencies sources to.
/deps

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Nerves images
/_images
