Source: ocaml-lua
Priority: optional
Maintainer: Arto Bendiken <arto@bendiken.net>
Build-Depends: debhelper (>= 9),
 ocaml-nox (>= 3.12.1) | ocaml-best-compilers
Standards-Version: 3.9.6
Section: libs
Homepage: http://ocaml-lua.forge.ocamlcore.org
Vcs-Git: https://github.com/pdonadeo/ocaml-lua.git
Vcs-Browser: https://github.com/pdonadeo/ocaml-lua

Package: ocaml-lua-dev
Section: libdevel
Architecture: any
Depends: ocaml-lua0 (= ${binary:Version}),
 liblua5.1-0-dev
Description: Lua bindings for OCaml (development)
 OCaml-Lua provides bindings to the Lua programming language.

Package: ocaml-lua0
Section: libs
Architecture: any
Depends: ${misc:Depends},
 liblua5.1-0
Description: Lua bindings for OCaml (binaries)
 OCaml-Lua provides bindings to the Lua programming language.
