#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DESTDIR ?= $(CURDIR)/debian/tmp

include /usr/share/ocaml/ocamlvars.mk

export OCAMLFIND_DESTDIR=$(DESTDIR)/usr/lib/ocaml

%:
	dh $@ --with ocaml

override_dh_gencontrol:
	dh_gencontrol -- -VF:OCamlABI="$(OCAML_ABI)"

.PHONY: override_dh_auto_configure
override_dh_auto_configure:
	ocaml setup.ml -configure                            \
	  --prefix /usr --destdir "$(DESTDIR)"               \
	  --mandir \$${prefix}/share/man                     \
	  --infodir \$${prefix}/share/info                   \
	  --sysconfdir /etc                                  \
	  --localstatedir /var                               \
	  --libdir \$${prefix}/lib/$(DEB_HOST_MULTIARCH)     \
	  --libexecdir \$${prefix}/lib/$(DEB_HOST_MULTIARCH) \
	  --enable-debug --enable-tests

.PHONY: override_dh_auto_build
override_dh_auto_build:
	ocaml setup.ml -build
	ocaml setup.ml -doc

.PHONY: override_dh_auto_test
override_dh_auto_test:
	ocaml setup.ml -test

.PHONY: override_dh_installdirs
override_dh_installdirs:
	dh_installdirs $@
	mkdir -p "$(OCAMLFIND_DESTDIR)"

.PHONY: override_dh_install
override_dh_install:
	dh_install --list-missing

.PHONY: override_dh_auto_install
override_dh_auto_install:
	ocaml setup.ml -install

.PHONY: override_dh_auto_clean
override_dh_auto_clean:
	ocaml setup.ml -distclean
